.percentage-bar {
    width: 40%;
    height: 20px;
    margin-top: 2rem;
    background-color: #ccc;
    border-radius: 4px;
    overflow: hidden; 
  }
  
  .filled {
    height: 100%;
    background-color: #3498db;
  }