.match-stats { 
    display: flex;
    min-width: 90%;
  
   margin: 1rem;
  }
  
  .home-data,
  .away-data {
    flex: 1;
  }
  
 
  .home-data {
    background-color: lightblue;
  }
  
  .away-data {
    background-color: lightgreen;
  }